.popup{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3333;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target &__content{
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }

    &__close{
        display: inline-block;
        padding: 0.05rem .9rem;
        text-decoration: none;
        font-size: 4rem;
        position: absolute;
        top: 1rem;
        right: 2rem;
        transition: all 0.3s;
        line-height: 1;

        &:link,
        &:visited{
            color: black;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0 .1rem .2rem black;
        }
       
        
    }
  
    
    &__content{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(.25);
        width: 70%;
        height: auto;
        background-color: #fff;
        box-shadow: 0.2rem 1rem 2rem #777777;
        border-radius: 5px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s 0.2s;
        
    }

    &__left{
        width: 33.33%;
        display: table-cell;
    }
    &__img{
        display: block;
        width: 100%;
        height: auto;
       
    }
    &__right{
        width: 66.67%;
        display: table-cell;
        vertical-align: middle;
        padding: 0 2rem;
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 2rem;

        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid rgba(128, 128, 128, 0.411);
        hyphens: initial;
    }
}